PORT=5000
MONGO_URI=mongodb+srv://usuario:password@tu-cluster.mongodb.net/?retryWrites=true&w=majority
JWT_SECRET=reemplazar_por_un_secreto_largo_y_random_de_al_menos_64_caracteres
CLIENT_URL=http://localhost:5173
NODE_ENV=development
